<div class="labels">
  <div class="srow text-right">{{schedulerCtrl.config.labels.weekNb }}</div>
  <div class="row-label schedule-animate" ng-repeat="item in schedulerCtrl.items" inject></div>
</div>

<div class="schedule-area-container">
  <div class="schedule-area">

    <div class="srow timestamps">
      <weekly-grid class="grid-container"></weekly-grid>
    </div>

    <div class="row-label srow schedule-animate" ng-repeat="item in schedulerCtrl.items">
      <weekly-grid class="grid-container striped" no-text></weekly-grid>
      <multi-slider index="{{$index}}"></multi-slider>
    </div>
  </div>
</div>
